/* Components
---------------------------------------- */
.block-screen {
	position: fixed;
	visibility: hidden;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(54, 54, 54, 0.85);
	z-index: 50;
	opacity: 0;
	transition: opacity 0.5s;
	}
.block-screen.active {
	visibility: visible;
	opacity: 1;
	}
.modal {
	position: absolute;
	visibility: hidden;
	left: 0;
	top: 300px;
	width: 80%;
	padding: 25px;
	background-color: #000;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.5s;
    box-sizing: border-box;
    padding: 42px 52px;
    height: auto;
    width: 80%;
	}
.modal.active {
	visibility: visible;
	opacity: 1;
	}
.svg.close-dialog path {
	fill: #ffffff;
}
[data-controls="tooltip"] {
	display: inline-block;
	position: relative;
	}
.tooltip {
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	padding: 15px;
	width: 200px;
	border: 1px solid #333;
	background-color: #fc3;
	}
.tooltip.active {
	display: block;
	}
.svg.close-dialog {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 25px;
	height: 25px;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.tooltip .svg.close-dialog {
	right: 5px;
	top: 5px;
	width: 15px;
	height: 15px;
}